<div class="container">
  <button type="button" ng-click="ic.getLyrics()">Get Lyric</button>
  <section>
  <div class="columns">
    <div class="column" ng-repeat="album in ic.albumInfo.info">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{album.album_art}}" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
     <h3>  {{album.title}}</h3>
          </div>
        </div>

      </div>

    </div>
  </div>
  </section>
  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>