<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    In Info
  </p>
  <button type="button" ng-click="ic.getLyrics()">Get Lyric</button>

  <button type="button" ng-click="ic.getGenius()">Get Genius</button>
  <div class="columns">
    <div class="card column is-2" ng-repeat="album in ic.albumInfo.info">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{album.album_art}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
          <a>@bulmaio</a>.
          <a href="#">#css</a>
          <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>

    </div>

  </div>
  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>